body {
	padding: 0px;
	margin: 0px;
}

#mainbox {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-align: stretch;
	box-align: stretch;
	height: 600px;
/*	height: 600px; */
}

#program {
	-webkit-box-flex: 1;
	box-flex: 1;
	height: 0px;
/*	height: 300px; */	
	border: 1px solid black;
	overflow: scroll;
	padding: 10px;
	font-size: 20px;
}

#choices {
	-webkit-box-flex: 1;
	box-flex: 1;
	height: 0px;
/*	height: 300px; */
	border: 1px solid black;
	font-size: 24px;
	padding: 10px;
	overflow: auto;
/*
	line-height: 36px;
	font-size: 20px;
	*/
}

a.choicebutton {
}

a.choicebutton div {
	color: black;
	font-family: sans-serif;
	display: inline-block;
	background-color: orange;
	background-image: linear-gradient(to bottom, orange, orange 50%, grey);	
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 5px;
	
}

#choices form.textinput input {
	width: 90%;
/*	
	background-color: orange;
	background-image: linear-gradient(to bottom, orange, orange 50%, grey);
*/
	font-size: 24px;
}